
.container{
    width: 80%;
    height: 50vh;
    background-color: blanchedalmond;
    margin: 10% auto;
    text-align: center;
    padding: 20px 0;
    border-radius: 20px;
}
.btn{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: brown;
    border-radius: 10px;
    font-size: 18px;
    color: white;
}

.btn:hover{
    transform: scale(1.1);
}
.para{
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    padding: 0 40px;
}

.btns button{
    padding: 10px 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 0 5px;
    font-size: 18px;
    background-color: brown;
    color: #fff;
}
.btns button:hover{
    transform: scale(1.05);
}

h1{
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}